/* dashboard record output*/
.report-record-output{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 280px);
    overflow: auto;
}
.report-output fieldset{
    max-height: calc(100vh - 300px);
    overflow: auto;
    border: none;
}

#report-output-table{
    top: 20px;
    width: 100%;
    border: none;
    border-collapse: separate;
    border-radius: 5px;
}

#report-output-table caption{
    color: #1E3A8A;
    font-size: x-large;
}

#report-output-table thead th{
    position: sticky;
    top: 0;
    z-index: 1;
    color: white;
    background-color: #1E3A8A;
}
#report-output-table td{
    padding: 2px;
}
#report-output-table tbody tr:nth-child(even){
    background: #99b6e6;
}
#report-output-table tbody tr td:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#report-output-table tbody tr td:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#report-output-table tbody tr:hover{
    cursor: pointer;
}




.optional-winner-container{
    top: 10px;
}
#winner-report-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    gap: 5px;
}

form, span .text{
    font-size: large;
    font-weight: bold;
    color: #1E3A8A;
}

form input[type ="text"],
form textarea{
    border: 1px #3B82F6 solid;
    height: 30px;
    width: 90%;
}
form input[type ="text"]:hover,
form input[type ="text"]:focus,
form input[type ="text"]:active,
form textarea:hover,
form textarea:focus,
form textarea:active
{
    padding-left: 5px;
    border: 2px solid #1E3A8A;
    border-radius: 5px;
    outline: none;
}

form input[type ="date"]{
    border: 1px #3B82F6 solid;
    height: 35px;
    width: 100px;
    border-radius: 5px;
}
form input[type ="date"]:hover{
    border: 2px solid #1E3A8A;
    border-radius: 5px;
}

form button{
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    color: white;
    background-color: #1E3A8A;
    margin-top: 5px;
}
form button:hover{
    background-color: #3B82F6;
    cursor: pointer;
    transform: scale(1.05);
}