<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <title>login</title>
</head>
<body>
    <div class="header-links-container">
        <a class="header-links" href="">
            <span>
                <img src="{{ url_for('static', filename='images/SpicMo_logo.png') }}" alt="">
            </span>
        </a>
    </div>
    <div class="login-container">
        <div class="allocation-info">
            <span class="icon"><i class="fa fa-key" aria-hidden="true"></i></span>
            <span class="allocation-text">login</span>
        </div>
        <form action="/login" method="POST">
            <fieldset>
                <span class="text">User Name:</span>
                <span class="input">
                    <input type="text" name="username"><br>
                </span>
                <span class="text">Password:</span>
                <span class="input">
                    <input type="password" name="password"><br>
                </span>
                <span class="button">
                    <button type="submit">login</button>
                </span>
            </fieldset>
        </form>
        {%if error%}
       <p style="color: red">
        {{error}}
        </p>
        {%endif%}
    </div>
</body>
</html>