<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='manage.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <title>admin-homeroom allocation</title>
</head>
<body>
    <div id="page-grid">
        <div class="page-header">
            <nav id="top-nav">
                <div class="header-links-container">
                    <a class="header-links" href="">
                        <span>
                            <img src="{{ url_for('static', filename='images/SpicMo_logo.png') }}" alt="">
                        </span>
                    </a>
                </div>
                <div class="header-links-container">
                    <a class="header-links" href="">
                        <span>
                        </span>
                    </a>
                </div>
                <div class="header-links-container">
                    <a class="header-links" href="">
                        <span>
                        </span>
                    </a>
                </div>
            </nav>
        </div>
        <div class="main-content">
                <aside>
                    <a class="aside-link" href="{{url_for('dashboard_admin')}}">
                        <span class="icon">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </span>
                        <span class="icon-text">Speeches</span>
                    </a>
                    <a class="aside-link" href="">
                        <span class="icon"><i class="fa fa-book" aria-hidden="true"></i></span>
                        <span class="icon-text">Book Reviews</span>
                    </a>
                    <a class="aside-link" href="{{url_for('admin_report_lb')}}">
                        <span class="icon"><i class="fa fa-file-alt" aria-hidden="true"></i></span>
                        <span class="icon-text">Report</span>
                    </a>
                    <a class="aside-link" href="{{url_for('manage_user')}}">
                        <span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                        <span class="icon-text">Homeroom teachers</span>
                    </a>
                    <a class="aside-link" href="{{url_for('logout')}}">
                        <span class="icon"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
                        <span class="icon-text">Logout</span>
                    </a>
                </aside>
                <main>

                    <div class="actions-bar">
                        <a class="action-link" href="{{url_for('manage_user')}}">
                            <span class="action-icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                            <span class="action-text">Manage</span>
                        </a>
                        <a class="action-link" href="{{url_for('allocate')}}">
                            <span class="action-icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                            <span class="action-text">Allocate class</span>
                        </a>
                    </div>
                    <div class="dashboard-record-output">
                        <form action="/new" method="POST" id="homeroom-allocation-form">
                            <div class="form-info">
                                <span class="allocation-text">Assign teacher a class</span>
                            </div>
                            <fieldset>
                                <span class="text">Name:</span>
                                <span class="input">
                                    <input type="text" name="hm" required>
                                </span>
                                <div>
                                    <span class="text">Class:</span>
                                    <select name="class">
                                        <option value="">classes</option>
                                        <option value="FORM1">Form 1</option>
                                        <option value="FORM2">Form 2</option>
                                        <option value="FORM3">Form 3</option>
                                        <option value="FORM4">Form 4</option>
                                        <option value="FORM5">Form 5</option>
                                        <option value="FORM6">Form 6</option>
                                    </select>
                                    <span class="text">stream:</span>
                                    <select name="stream">
                                        <option value="">Stream</option>
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                        <option value="D">D</option>
                                        <option value="E">E</option>
                                        <option value="F">F</option>
                                        <option value="G">G</option>
                                        <option value="H">H</option>
                                    </select>
                                    <span class="text">Role:</span>
                                    <select name="role">
                                        <option value="">Role</option>
                                        <option value="admin">Admin</option>
                                        <option value="homeroom">Homeroom</option>
                                    </select>
                                </div>
                                <span class="text">Password:</span>
                                <span class="input">
                                    <input type="password" name="password" required>
                                </span>
                                <select name="round">
                                    <option>Round</option>
                                    <option value="1">Round 1</option>
                                    <option value="2">Round 2</option>
                                    <option value="3">Round 3</option>
                                    <option value="4">Round 4</option>
                                    <option value="5">Round 5</option>
                                    <option value="6">Round 6</option>
                                </select>
                                <span class="button">
                                    <button type="submit" onclick="return validateAndConfirmAllocation()">Allocate</button>
                                    <button type="reset">Clear</button>
                                </span>
                            </fieldset>
                        </form>
                    </div>
                </main>
            </div>
        <div class="footer">
            <footer>@2026</footer>
        </div>
    </div>
    <script src="C:\Users\sj02093\Desktop\programming\python\spicMo_\static\js.js"></script>
</body>
</html>
